* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    text-align: center;
    font-family: "Poppins", sans-serif;
    background-color: hsl(0, 100%, 74%);    
    color: white;
}

form {
    display: grid;
    background-color: white;
    margin: 5% 0;
    padding-top: 5%;
    border-radius: 10px;
}

span {
    color: red;
}

form div {
    position: relative;
}

div {
    width: 90%;
    margin: auto;
}

form>label {
    opacity: 0.3;
    position: absolute;
    top: 22px;
    left: 20px;
}

label {
    font-size: xx-small;  
    left: 65%;
    top: 100%;
   color: transparent; 
   
}


input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus {
    height: 7vh;
    box-shadow: 5px 1px 5px 5px#888888;
}

input[type="text"]:not(:focus):valid,
input[type="email"]:not(:focus):valid,
input[type="password"]:not(:focus):valid
{
 border: 1px solid green; 
 background-image: none;
}

a {
    color: red;
    text-decoration: none;
}

/*input.valid {
    border: 1px solid green;
    background-image: none;
}*/
input.dirty:not(:focus):invalid {
    background-color: red;
  }
  input.dirty:not(:focus):valid {
    background-color: green;
  }

/*input.invalid*/ .invalidClass {   
    background-image: url("images/icon-error.svg");
    background-repeat: no-repeat;
    background-position: 90% 10%;
   border: 1px solid red;   
}

small {
    position: absolute;    
    color: red;    
    text-align: right;
    width: 100%;
    left: 0px;
    top: 54px;
    visibility: hidden;
}

.errorDisplay {
    visibility: visible;
    
}

 /* 
input[type="text"]:not(:focus):invalid,
input[type="email"]:not(:focus):invalid,
input[type="password"]:not(:focus):invalid {
    border: 1px solid red;
}
*/

@media screen and (min-width: 300px) {
    body {
        background-image: url(images/bg-intro-mobile.png);
    }

    label {
        left: 40%;
    }

    h1 {
        margin: 15% 10% 5% 10%;
        font-size: x-large;
    }

    p {
        margin: 2% 10%;
        line-height: 1.5em;
        font-size: small;
    }

    .promotion p {
        color: white;
        margin: 2% 20%;
    }

    .promotion p span {
        color: white;
        font-weight: 600;
    }

    .promotion {
        width: 100%;
        height: 15vh;
        background-color: hsl(248, 32%, 49%);
        margin: auto;
        padding-top: 3vh;
        /* to center one line of text vertical inside a div, set
        a line-height in the containing element to a value larger than font size of 
        the text that you want to center vertically. NOTE >> this works
        for one line of text only
        */

        /*line-height: 72px;*/
        border-radius: 10px;
    }

    input.details {
        width: 100%;
        margin: auto;
        height: 10vh;
        border-radius: 5px;
        padding-left: 5%;
        font-weight: 900;
    }


    main {
        padding-top: 5%;
    }

    form {
        /*row-gap: 5%;*/
        height: 90vh;
    }

    form p {
        font-size: x-small;
        color: black;
    }

    input.details[type="submit"] {
        font-size: x-small;
        text-transform: uppercase;
        background-color: hsl(154, 59%, 51%);
        color: white;
    }
}

@media screen and (min-width: 400px) {
    .promotion {       
        margin-bottom: 5%;
    }

    label {
        left: 55%;
    }
}

@media screen and (min-width: 600px) {
    form {
        width: 75%;
        margin: auto auto 10%;
    }

    .promotion {
        width: 75%;

    }
}

@media screen and (min-width: 700px) {
    label {
        left: 30%;
    }

    .page_wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
    }

    input.details {
        width: 90%;
        height: 7vh;
    }

    form {
        row-gap: 1%;
        height: 80vh;
    }
}

@media screen and (min-width: 900px) {
    form {
        width: 90%;
        height: 70vh;
    }

    label {
        left: 55%;
    }

    h1 {
        /* margin: 15% 10% 5% 10%; */
        font-size: xx-large;
        text-align: left;
        margin: 0 15%;
    }

    p {
        text-align: left;
        margin: 2% 15%;
        /*line-height: 1.5em;*/
        font-size: medium
    }

    header {
        width: 80%;
        align-self: center;
        padding-top: 5%;
        justify-self: end;
    }

    .promotion {
        width: 90%;
        height: 8vh;
        margin-bottom: 2%;
        margin-top: 5%;
    }

    .promotion p {
        margin: 0 auto;
        text-align: center;
        line-height: 1;
    }

    small {        
        text-align: left;        
        left: 10px;
        top: 37px;       
    }

}

@media screen and (min-width: 1100px) {
    label {
        left: 65%;
    }
}