/* Box sizing rules */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
    margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
    list-style: none;
}

ul {
    padding: 0;
    margin: 0;
}

li {
    list-style: none;
}

/* Set core root defaults */
html:focus-within {
    scroll-behavior: smooth;
}

/* Set core body defaults */
body {
    min-height: 100vh;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
    text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
    max-width: 100%;
    display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
    font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
    html:focus-within {
        scroll-behavior: auto;
    }

    *,
    *::before,
    *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}

:root {
    --black: hsla(248, 9%, 26%, 1);
    --blue: hsla(248, 33%, 49%, 1);
    --green: hsla(154, 59%, 51%, 1);
    --pink: hsla(0, 100%, 74%, 1);
    --white: hsla(0, 0%, 100%, 1);
    --font: 'Poppins', sans-serif;
}

body {
    text-align: center;
    font-family: var(--font);
    background-color: var(--pink);
    color: white;
    background-image: url(images/bg-intro-mobile.png);
    display: flex;
    justify-content: center;
    align-items: center;
}

.form {
    display: grid;
    background-color: white;
    margin-block: 2rem;
    padding-block: 2rem;
    border-radius: 10px;
    gap: 30px;
}

.input-container {
    position: relative;
}

.container {
    padding-inline: 1.5rem;
    margin-inline: auto;
    margin-block: 1.5rem;
}

.inputs {
    width: 100%;
    margin: auto;
    border-radius: 5px;
    padding-block: 0.75rem;
    font-size: 0.875rem;
    font-weight: 600;
    padding-inline: 2rem;
    border: 1px solid --black;
}

.input-label {
    color: var(--black);
    position: absolute;
    font-size: 0.875rem;
    font-weight: 600;
    letter-spacing: 0.25px;
    transform-origin: top left;
    transform: translate(1rem, 0.8rem) scale(1);
    transition: all .1s ease-in-out;
    z-index: 1;
}

.active label {
    transform: translate(0, -1.5rem) scale(0.85);
}

input.details {
    position: relative;
}

.btn-submit {
    background-color: var(--green);
    color: var(--white);
    font-weight: 600;
    text-transform: uppercase;
    padding: 1rem;
    border: none;
    border-radius: 5px;
    box-shadow: 0px 3px 0px 0px var(--black);
    display: block;
    width: 100%;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus {
    box-shadow: 5px 1px 5px 5px#888888;
}

.btn-terms {
    color: red;
    text-decoration: none;
}

input.dirty:not(:focus):invalid {
    background-color: red;
}

input.dirty:not(:focus):valid {
    background-color: var(--green);
}

/*input.invalid*/
.invalidClass {
    background-image: url("images/icon-error.svg");
    background-repeat: no-repeat;
    background-position: 90% 50%;
    border: 1px solid red;
}

.error {
    font-size: 0.6875rem;
    position: absolute;
    color: red;
    text-align: right;
    width: 100%;
    left: 0px;
    top: 3rem;
    visibility: hidden;
}

.errorDisplay {
    visibility: visible;

}

.title {
    font-size: 1.75rem;
}

.text {
    font-size: 1rem;
}

.promotion-text-span {
    font-weight: 600;
}

.promotion {
    background-color: var(--blue);
    border-radius: 10px;
    padding-block: 1rem;
}

.promotion-text {
    font-size: 0.9375rem;
}

.form-text {
    color: var(--black);
    font-size: 0.6875rem;
}

input.details[type="submit"] {
    font-size: x-small;
    text-transform: uppercase;
    background-color: var(--green);
    color: white;
}


@media screen and (min-width: 700px) {

    .page_wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        max-width: 69.375rem;
        gap: 2rem;
    }


    .title {
        font-size: 3.125rem;
    }

}

@media screen and (min-width: 900px) {

    .promotion p {
        margin: 0 auto;
        text-align: center;
        line-height: 1;
    }
    

}